{% load static %}

<div class="w-full md:w-1/3 xl:w-1/4 p-6">
    <a href="{% url 'product' product.slug %}">
        <img class="rounded-xl hover:shadow-lg" src="{% static 'images/download.jpg' %}">
    </a>

    <div class="pt-3 flex items-start justify-between">
        <a href="{% url 'product' product.slug %}">{{ product.name }}</a>
        <a href="{% url 'product' product.slug %}" class="text-purple-500 hover:text-purple-800">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>

    <p class="pt-1 text-black-400">{{ product.price }}$</p>
</div>